#heading-content {
    background-image: url(/public/heading-background.png);
    min-height: 396px;
}

#heading-content:has(.movie-details) {
    background-image: none;
}

#heading-content #heading-content-tools {
    text-align: end;
}

#back-to-search > i {
    transform: rotate(45deg);
    font-size: 30px;
    font-style: normal;
    display: inline-block;
}

#main-content-tools > .genre-select {
    /* Move the Sort Control to the Right. */
    margin-right: auto;
    /* Makes the red border overlap the tools border. */
    margin-bottom: -2px;
}

#main-content-tools {
    border-bottom: 1px solid var(--color-secondary);
}

#main-content-movies {
    padding-top: 28px;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 37px;
}
