.movie-title {
    --movie-title-width: 323px;

    width: var(--movie-title-width);
}

.movie-title .movie-title-image {
    width: var(--movie-title-width);
}

.movie-title .movie-title-name {
    margin-top: 13px;
}

.movie-title h3 {
    margin: 0 auto 0 0;
    font-weight: normal;
}

.movie-title .movie-title-release-year {
    padding: 4px 8px 5px 8px;
}