.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(35, 35, 35, 0.92);
    width: 100%;
    height: 100%;
    display: flex;
}

.dialog-overlay > .dialog {
    margin: auto auto;
    width: 80%;
    background: var(--background-dark);
    padding: 27px;
    max-height: 95vh;
    overflow-y: auto;
}

.dialog-overlay > .dialog .dialog-close {
    text-align: end;
}

.dialog-overlay > .dialog .dialog-close > button {
    background: none;
    color: white;
}

/* Dialog being used as context Menu */
.dialog-overlay.context {
    background: none;
    width: 0;
    height: 0;
}

.dialog-overlay.context > .dialog {
    width: auto;
    position: fixed;
    padding: 0;
}