:root {
  --form-control-heigh: 57px;
  --form-control-border-radious: 4px;

  --background-default: #555555;
  --background-dark: #232323;

  --color-primary: #F65261;
  --color-default: #E4E4E4;
  --color-secondary: #979797;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background-default);
  font-family: 'Source Sans Pro';
  color: var(--color-default);
  font-size: 17.28px;
  padding: 20px;
}

p, span {
  font-size: 20px;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
}

button {
  cursor: pointer;
}

input, button {
  vertical-align: middle;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  border-style: none;
}

.btn {
  height: var(--form-control-heigh);
  padding: 18px 73px;

  text-align: center;
  text-transform: uppercase;
  border-radius: var(--form-control-border-radious);
}

.bg-primary {
  background: var(--color-primary);
  color: white;
}

.border {
  border: solid 1px var(--color-default);
}

.border-secondary {
  border-color: var(--color-secondary);
}

.border-primary {
  border-color: var(--color-primary);
}

.border-rounded {
  border-radius: var(--form-control-border-radious);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-primary {
  color: var(--color-primary);
}

.form-input {
  height: var(--form-control-heigh);
  border-radius: var(--form-control-border-radious);
  padding-left: 18px;
  padding-right: 18px;
  background: rgba(50, 50, 50, 0.8);
  color: white;
}

.form-input:focus {
  outline: none;
}

.d-block {
  display: block;
  width: 100%;
}

.d-flex {
  display: flex;
}

.ms-4 {
  margin-left: 4em;
}

.mb-30p {
  margin-bottom: 30px;
}