:root {
  --form-control-heigh: 57px;
  --form-control-border-radious: 4px;

  --background-default: #555555;
  --background-dark: #232323;
  --background-secondary: rgba(96, 96, 96, 0.68);

  --color-primary: #F65261;
  --color-default: #E4E4E4;
  --color-secondary: #979797;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat';
}

body {
  background: var(--background-default);
  color: var(--color-default);
  font-size: 17.28px;
  padding: 37px 58px;
}

p, span {
  font-size: 20px;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 100;
  margin: 0;
}

button {
  cursor: pointer;
}

input, button, textarea {
  vertical-align: middle;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  border-style: none;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

label.checkbox {
  display: block;
  margin-bottom: 18px;
}

label.checkbox > input[type=checkbox] {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 2px;
}

label.checkbox > input[type=checkbox]:checked {
  background-color: var(--color-primary);
}

label.checkbox > input[type=checkbox]:checked::after {
  content: "\2714";
  color: white;
  font-size: 12px;
  position: absolute;
  padding-left: 3px;
  margin-top: -2px;
}

section {
  background-color: var(--background-dark);
  margin-bottom: 30px;
  padding: 20px 57px 47px 59px;
}

.btn {
  height: var(--form-control-heigh);
  padding: 18px 73px;

  text-align: center;
  text-transform: uppercase;
  border-radius: var(--form-control-border-radious);
}

.btn[disabled] {
  opacity: 75%;
  cursor: default;
}

a.btn {
  text-decoration: none;
  display: inline-block;
}

.btn-compact {
  padding: 11px 18px;
  line-height: 2;
}

.icon-button {
  background: none;
  padding: 0;
}

.bg-primary {
  background: var(--color-primary);
  color: white;
}

.bg-none {
  background: none;
}

.bg-secondary {
  background: var(--background-secondary);
}

.border {
  border: solid 1px var(--color-default);
}

.border-secondary {
  border-color: var(--color-secondary);
}

.border-primary {
  border-color: var(--color-primary);
}

.border-rounded {
  border-radius: var(--form-control-border-radious);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-primary {
  color: var(--color-primary);
}

.text-default {
  color: var(--color-default);
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.text-right {
  text-align: right;
}

.form-input {
  height: var(--form-control-heigh);
  border-radius: var(--form-control-border-radious);
  padding-left: 18px;
  padding-right: 18px;
  background: rgba(50, 50, 50, 0.8);
  color: white;
}

.form-input:focus {
  outline: none;
}
textarea.form-input {
  height: auto;
}

.d-block {
  display: block;
  width: 100%;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.ms-4 {
  margin-left: 4em;
}

.me-13p {
  margin-right: 13px;
}

.mb-13p {
  margin-bottom: 13px;
}

.mb-30p {
  margin-bottom: 30px;
}

.me-30p {
  margin-right: 30px;
}

.pt-20p {
  padding-top: 20px;
}